
<form action="/compose" method="POST">
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitle" name="title" placeholder="Enter post title">
    </div>
    <div class="mb-3">
        <label for="postBody" class="form-label">Blog</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="body" placeholder="=Write your blog here...."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>